{% extends 'base.html' %}

{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}

<div class="d-flex flex-column align-items-center">

    <h1>Register</h1>

    <form method="POST" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="btn btn-primary login_btn my-2 w-100" type="submit" value="Register">
    </form>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</div>

{% endblock content %}